/////variables/////
$logo: #69BD7D;
$logohover: #929292;
$red: #EB3A3A;
$bootstrapblue: #428bca;
$lightgrey: #A3A3A3;

html {
  width: auto !important;
  overflow-x: hidden !important;
}
body {
  width: auto !important;
  overflow-x: hidden !important;
}

//General classes/ids etc.
[viewData] {
  cursor: pointer;
}
button:focus {
    outline: none !important;
}

li.active a{
  background-color:#A0A0A0 !important;//need to change this eventually
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

dt[id$="-label"]{
  margin-top: 5px;

  label{
    color: $lightgrey;
    margin-bottom: 0;
  }
}

button {z-index:9999}

.spacer {
  height: 20px;
}

.spinner {
  margin-top: 30%;
}

.row{
  padding: 0 5px 0 5px;
}

#autoToggle, #manualToggle{
  float: right;
  margin-top: -7px;
}

#connectingModal{
  position: fixed;
  top: 20%;
}

#settingsBody{
  min-height: 35%;
}


#settingsModal{

  .modal-body {
    overflow: hidden;
  }
  .form-group {
    height: 60px;
    width: 48%;
    margin: 1%;
    float: left;

    .bootstrap-select {
      display: block;
      width: 100%;
    }
  }
  .checkboxGroup {
    height: 60px;
  }
  .checkboxLabel {
    width: 78%; //matches up with right edge of inputs
  }
}

.half{
  width:49%;
  display: inline-block;
}
#title{
  a{
    background-color:$logo;
    color:white;
    &:hover{
      background-color:$logohover;
    }
  }
}
nav.dropdown{
  position:fixed;
  width: 43px;
  border-bottom-right-radius: 5px;
  border: none;
  top: 0;
  left: 0;
  z-index: 999;
  background-color:$logo;

  a#title{
    font-size: 30px;
    color:white;

    i{
      margin-top: -5px;
      padding-left: 5px;
    }
  }
}

div.topbar{
  position: relative;
  background-color: $logo;
  height: 41px;
  width: 150%;
  top: 0;
  left: -25%;
  right: 0;
  margin-bottom: -25px;
}

table#infraredArray, table#motionArray {
  margin:0 auto;

  tbody tr td {
    width:50px;
    height:50px;
    border-spacing:5px;
    border-radius: 25px;
    border: 1px solid $lightgrey;
  }
}
td#m1, td#m2 {
  background-color: $lightgrey;
}

div.debugPanel {

  .debugContainer {  
    float: left;
    min-width: 100px;
    min-height: 100px;
    display: inline-block;
    border: 2px solid $lightgrey;
    border-radius: 10px;
    padding: 10px;
  }
}


div.logPanel .panel-body{
  transition: all 0.5s ease;
  height: 250px;
  overflow: auto;
  background-color: black;
  color: green;
  font-family: consolas;
  text-align: bottom;
}

div.panel-heading:hover{
    background-color: rgb(224, 222, 222);
    transition: background-color 1s ease;
}

div.panel-heading span.glyphicon-chevron-down{
  float: right;
  margin-top: 3px;
}
